# Our code is based on the AWS SDKs
boto3
botocore
awscli

# Used for comparing SSH Public keys to the Amazon fingerprints
pycrypto

# security tool to perform AWS and Azure security best practices assessments, audits, incident response, continuous monitoring, hardening and forensics readiness
prowler
