name = "flask-app"

sqs_queue_name = "example"
sns_topic_name = "example"

tags = {
  app = "flask-app"
}

app = {
  host_header       = "app.foo.bar"
  image             = "ghcr.io/atrakic/aws-app:latest"
  port              = 8000
  desired_count     = "1"
  health_check_path = "/healthcheck"
  fargate_cpu       = "256"
  fargate_memory    = "512"
}
