name = "flask-app"

pub_sub_name = "pub-sub"

tags = {
  app = "flask-app"
  production = "true"
}

app = {
  host_header       = "publisher.foo.bar"
  image             = "ghcr.io/atrakic/aws-ecs-fargate-stack-publisher:latest"
  port              = 8000
  desired_count     = "1"
  health_check_path = "/healthcheck"
  fargate_cpu       = "256"
  fargate_memory    = "512"
}
